{% extends "base.html" %}
{% load static %}
{% block content %}

<p style="text-align: center;">The string you need to type is: <span id="test_string"></span></p>
<p style="text-align: center;">The current string is: <span id="result_string"></span></p>



<script>
let testText = "{{ test_string|escapejs }}";
//let testText = "hello world"

document.getElementById("test_string").innerHTML = testText;
let test_string_words = testText.split(" ");

let typed_string = '';
let typed_string_words = [];

document.addEventListener('keydown', (event) => {
    

    const isAlphanumeric = /^[a-zA-Z0-9 ]$/.test(event.key);

    if (isAlphanumeric) {
        typed_string += event.key;
    }

    if (event.key === "Backspace") {
        typed_string = typed_string.slice(0, -1)
    }

    let result_string = "";
    // loop over each string, if a space character is detected ignore the rest of the word and go to the next word, 
    for (let i=0; i < testText.length; i++) {
        const char1 = testText[i] || ''; 
        const char2 = typed_string[i] || '';

        if (char1 === char2){
            result_string += `<span>${char2}</span>`;
        } else {
            result_string += `<span class="highlight-red">${char2}</span>`;
        }
    }
    document.getElementById("result_string").innerHTML = result_string

});
</script>



</main>
{% endblock %}